[data-md-color-scheme="pipTrends"] {
    --md-primary-fg-color:        #00281E;
    --md-primary-fg-color--light: #00281E;
    --md-primary-fg-color--dark:  #ebfffa;
    --md-accent-fg-color: #1d5245;
  }
  .md-typeset a {
    color: #76C2AF;
  }

  .md-nav__item .md-nav__link--active, .md-nav__item .md-nav__link--active code
  {
    color: #76C2AF;
  }

.footer {
  font-size: medium;

}
.custom-footer-nav .md-footer__link--prev {
    margin-right: 20px; 
}

.custom-footer-nav .md-footer__link--next {
    margin-left: 20px; 
}


.embed {
  font-size: medium;
  color: #363737;
  padding-top: 0.5%;
}

.embed-container {
  width: 50%; 
  border-radius: 10px;
  margin-bottom: 2%;
}

.card {
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  padding: 5%;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
.card img {
  width: 150px;
  height: 150px;
  margin-right: 16px;
}

.card div {
  flex: 1;
}

.card h2{
  margin-top: 0%;
}


.date {
  color: #586069;
  margin-left: 16px;
  text-align: right;
}
.read-more-date {
  display: flex;
}

@media only screen and (max-width: 900px) {
  .embed-container {
      width: 100%; 
  }
  
}

@media (max-width: 600px) {
  .card {
    flex-direction: column;
  }
  .card img {
    margin: auto;
  }
}