---
layout: main
titles:
  # @start locale config
  en      : &EN       Home
  en-GB   : *EN
  en-US   : *EN
  en-CA   : *EN
  en-AU   : *EN
show_title: false
articles:
  data_source_1: paginator.gettingstarted
  date_source_2: paginator.sample
  data_source_3: paginator.course
  data_source_4: paginator.blog
  data_source_5: paginator.newsletter
  article_type: BlogPosting
  show_cover: false
  show_excerpt: true
  show_readmore: true
  show_info: true
---
<div class="layout--home">
  {%- include paginator.html -%}
</div>
<script>
  {%- include scripts/home.js -%}
</script>

{{ content }}
